




.jumbotron{
	height:400px
}


.center_image {
	height:300px;
	margin-left: auto;
	display:hide;

}

.answer{
	margin-right: 3px;
	margin-left:3px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: radial-gradient(#A0A0A0,#EFEFEF);
	height:50px;
	line-height:50px;
	vertical-align: middle;
}

.answer:hover{
	margin-right: 3px;
	margin-left:3px;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	background: radial-gradient(#A0A0A0,#F0F0F0);
	color:white;
	height:50px;
	line-height:50px;
	vertical-align: middle;
}
.questioncount{
	text-align: right;
}

.hide{
	display:none;
}
